.xuiTitleTable {
    width: 100%;
}

.xuiPageHeadingCell {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid #0D4988;
    padding-bottom: 2px;
}

.xuiPageHeadingText {
    font-size: 10pt;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    color: #000;
    font-family: Tahoma, Arial, Bitstream Vera Sans, sans-serif;
}

.xuiSubheading {
    font-size: 8pt;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-bottom: 3px;
    text-align: left;
    border-bottom: 1px solid #B3B6AD;
    color: #6D6E68;
    font-family: Tahoma, Arial, Bitstream Vera Sans, sans-serif;
    width: 100%;
}

.idcFormTableSearch {
    margin-top: 1em;
    width: auto;
}

SPAN.searchLabel {
    font-size: 8pt;
    font-weight: bold;
}

TABLE {
    color: #000;
    font-size: 9pt;
    font-family: Tahoma, Arial, Bitstream Vera Sans, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    font-size: inherit;
    font: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table[Attributes Style] {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-spacing: 0px;
}

user agent stylesheettable {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    color: -webkit-text;
    text-align: start;
}

user agent stylesheettable {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

Inherited from td td {
    color: #000;
    font-size: 9pt;
    text-align: left;
}

Inherited from tr TR {
    color: #000;
    font-size: 9pt;
    font-family: Tahoma, Arial, Bitstream Vera Sans, sans-serif;
}

Inherited from table TABLE {
    color: #000;
    font-size: 9pt;
    font-family: Tahoma, Arial, Bitstream Vera Sans, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    font-size: inherit;
    font: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

user agent stylesheettable {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    color: -webkit-text;
    text-align: start;
}

user agent stylesheettable {
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

Inherited from body BODY {
    color: #000;
    font-size: 9pt;
    font-family: Tahoma, Arial, Bitstream Vera Sans, sans-serif;
}

body {
    color: black;
    font-family: Tahoma, Arial, Bitstream Vera Sans, sans-serif;
    text-align: center;
}

.xuiListHeaderCell {
    font-size: 8pt;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background: url(TableHeadingBG.gif)repeat-x #DAD9C8;
    border-bottom: 1px solid #979991;
    border-top: 1px solid #979991;
    color: #000;
    font-family: Tahoma, Arial, Bitstream Vera Sans, sans-serif;
    font-weight: normal;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    white-space: nowrap;
}

.xuiSubheading {
    font-size: 8pt;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-bottom: 3px;
    text-align: left;
    border-bottom: 1px solid #B3B6AD;
    color: #6D6E68;
    font-family: Tahoma, Arial, Bitstream Vera Sans, sans-serif;
    width: 100%;
}