/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.7.0
*/

.ygtvpreload {
    position: absolute;
    height: 1px;
    width: 1px;
    top : -1000px;
    left: -1000px;
}
